.icon {
  display: block;
  width: 1.5em;
  height: 1.5em;
  overflow: hidden;
  cursor: pointer;

  fill: hsl(var(--text));
}

.icon svg {
  width: 100%;
  height: 100%;
}

.icon:hover, .icon:focus-visible {
  fill: hsl(var(--text) / .75);
}

.icon--error {
  fill: hsl(var(--error));
}

.icon--error:hover, .icon--error:focus-visible {
  fill: hsl(var(--error) / .75);
}

.icon--success {
  fill: hsl(var(--success));
}

.icon--success:hover, .icon--success:focus-visible {
  fill: hsl(var(--success) / .75);
}

.icon__path {
  fill: inherit;
}

.list__item .icon svg {
  width: 1em;
  height: 1em;
}

.list__item .icon {
  display: flex;
  align-items: center;
  justify-content: center;
}