:root {
  --text: 0 0% 0%;
  --background: 0 0% 100%;
  --primary: 0 0% 0%;
  --secondary: 0 0% 40%;
  --accent: 280 56% 25%;
  --btn-text: 0 0% 100%;
  --error: 3 82% 51%;
  --success: 123 82% 51%;
  --focus: 0 0% 91%;

  --font: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  --monospace: "Courier New", Courier, monospace;
  --border-radius: .25em;

  --navbar-height: 3.5em;

  --font-scale: 1.25;
  --font-r: 16px;
  --font-h6: calc(var(--font-r) * var(--font-scale));
  --font-h5: calc(var(--font-h6) * var(--font-scale));
  --font-h4: calc(var(--font-h5) * var(--font-scale));
  --font-h3: calc(var(--font-h4) * var(--font-scale));
  --font-h2: calc(var(--font-h3) * var(--font-scale));
  --font-h1: calc(var(--font-h2) * var(--font-scale));
  --font-s: calc(var(--font-r) / var(--font-scale));
  --font-xs: calc(var(--font-s) / var(--font-scale));
}

@media (prefers-color-scheme: dark) {
  :root {
    --text: 0 0% 100%;
    --background: 0 0% 5%;
    --primary: 0 0% 100%;
    --secondary: 0 0% 60%;
    --accent: 280 56% 75%;
    --btn-text: 0 0% 0%;
    --error: 3 82% 49%;
    --success: 123 82% 49%;
    --focus: 0 0% 13%;
  }
}


html {
  background-color: hsl(var(--background));
  color: hsl(var(--text));
  font-family: var(--font);
  font-size: var(--font-r);
}

body {
  max-width: 2560px;
  margin: 0 auto;
}

main {
  padding: 1em;
  box-sizing: border-box;
}

main.center {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - var(--navbar-height) * 2);
  align-items: center;
  justify-content: center;
  margin-bottom: var(--navbar-height);
}

.btn {
  font-size: var(--font-r);
  font-weight: 400;
  font-family: var(--font);

  background-color: hsl(var(--accent));
  color: hsl(var(--btn-text));
  text-decoration: none;

  padding: 0.5em 1em;
  border-radius: var(--border-radius);
  outline: none;
  border: none;
  cursor: pointer;

  box-sizing: border-box;
}

.btn:hover, .btn:focus-visible {
  background-color: hsl(var(--accent) / .85);
}

.btn:focus-visible {
  outline: 2px solid hsl(var(--accent) / .85);
  outline-offset: 2px;
}

.btn--primary {
  background-color: hsl(var(--primary));
}

.btn--primary:hover, .btn--primary:focus-visible {
  background-color: hsl(var(--primary) / .85);
}

.btn--primary:focus-visible {
  outline: 2px solid hsl(var(--primary) / .85);
  outline-offset: 2px;
}

.btn--secondary {
  background-color: hsl(var(--secondary));
}

.btn--secondary:hover, .btn--secondary:focus-visible {
  background-color: hsl(var(--secondary) / .85);
}

.btn--secondary:focus-visible {
  outline: 2px solid hsl(var(--secondary) / .85);
  outline-offset: 2px;
}

.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1em;
  max-width: 32em;
  margin-bottom: 1em;
}

.form__items {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 1em;
  align-items: center;
}

.form__label {
  grid-column: 1;
}

.form__input {
  width: 100%;
  min-height: 2em;
  box-sizing: border-box;

  display: flex;
  gap: 1em;
  align-items: center;

  outline: none;
  border: none;

  border-radius: var(--border-radius);

  background-color: hsl(var(--secondary) / .15);
  color: hsl(var(--text));
}

.form__input:focus-visible {
  background-color: hsl(var(--secondary) / .25);
}

.form__select {
  background-color: hsl(var(--focus));
  padding: .4em;
}

.form__select option {
  background-color: hsl(var(--background));
  color: hsl(var(--text));
}

.form__select option:hover {
  background-color: hsl(var(--background) / .25);
}

.form__input-wrapper {
  grid-column: 2;
  box-sizing: border-box;
}

.form__checkbox-wrapper {
  grid-column: span 2;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: .5em;
}

.form__checkbox {
  margin: 0;
  width: 1rem;
  height: 1rem;
}

.link {
  color: hsl(var(--accent));
}

.link:hover, .link:focus-visible {
  color: hsl(var(--accent) / .85);
}

.link:focus-visible {
  outline: 2px solid hsl(var(--accent) / .85);
  outline-offset: 2px;
  border-radius: .25em;
}

.list {
  list-style: none;
  margin-bottom: 1em;
}

.list__item {
  display: flex;
  margin: .25em 0;
  gap: .5em;
}

.title {
  margin-bottom: .5em;
  font-size: var(--font-h1);
}

.title--s1 {
  font-size: var(--font-h1);
}
.title--s2 {
  font-size: var(--font-h2);
}
.title--s3 {
  font-size: var(--font-h3);
}
.title--s4 {
  font-size: var(--font-h4);
}
.title--s5 {
  font-size: var(--font-h5);
}
.title--s6 {
  font-size: var(--font-h6);
}

.file-embed {
  display: block;
  margin: 1em auto 0 auto;
  max-width: 100%;
  max-height: calc(100vh - var(--navbar-height) - var(--font-h1) * 2);
}

.file-wrapper {
  max-height: 100%;
  box-sizing: border-box;
  text-align: center;
}

.file-wrapper .title {
  word-break: break-all
}

.file-embed .text-block {
  max-height: calc(100vh - var(--navbar-height) - var(--font-h1) * 2);
  overflow-y: scroll;

  background-color: hsl(var(--secondary) / .15);
  padding: 0.5em;
  border-radius: 1.5em;
  max-width: 85ch;

  text-align: left;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  white-space: pre-line;
  word-wrap: break-word;
  box-sizing: border-box;
}

.text-block code {
  border-radius: 1em;
  white-space: pre;
}

span.hljs-string, span.hljs-attr {
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  white-space: pre-line;
}

.error {
  font-size: var(--font-s);
  color: hsl(var(--error));
  margin: 1em 0;
  width: 100%;
  text-align: center;
}

.section {
  margin: 1em 0;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: var(--navbar-height);
}

.navbar::after {
  content: "";
  display: block;
  height: 2px;
  width: 100%;
  background-color: hsl(var(--accent));
  top: var(--navbar-height);
  left: 0;
  position: absolute;
}

.navbar__menu {
  display: flex;
}

.navbar__item {
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbar__link {
  background-color: hsl(var(--secondary) / .1);
  color: hsl(var(--text));
  display: flex;
  align-items: center;
  padding: 0 1em;
  height: var(--navbar-height);
  text-decoration: none;
}

.navbar__link:hover, .navbar__link:focus-visible {
  background-color: hsl(var(--secondary) / .15);
}

.invite-code {
  font-family: var(--monospace);
  user-select: all;
}

.delete-btns, .delete-btns-wrapper {
  display: flex;
  gap: .5em;
  align-items: center;
  user-select: none;
  transition: width .2s ease-in-out;
}

.delete-btns {
  width: 0px;
}

.delete-btns--open {
  width: 3.5em;
}

@media (max-width: 768px) {
  :root {
    --font-r: 14px;
    --font-scale: 1.15;
  }
  .form__items {
    grid-template-columns: 1fr;
  }
  .form__label {
    grid-column: 1;
  }

  .form__input-wrapper {
    grid-column: 1;
  }

  .form__checkbox-wrapper {
    grid-column: 1;
  }

  main.center {
    min-height: unset;
    transform: none;
    margin: 0;
  }
}

@media (min-width: 1921px) {
  :root {
    --font-r: 18px;
  }
}

@media (min-width: 2561px ) {
  :root {
    --font-r: 20px;
  }
}

@media (min-width: 3841px ) {
  :root {
    --font-r: 24px;
  }
}