:root {
  --text: 0 0% 0%;
  --background: 0 100% 100%;
  --primary: 0 0% 0%;
  --secondary: 0 0% 40%;
  --accent: 255 50% 50%;
}

html {
  background-color: hsl(var(--background));
  color: hsl(var(--text));
}