:root {
  --text: 0 0% 0%;
  --background: 0 0% 100%;
  --primary: 0 0% 0%;
  --secondary: 0 0% 40%;
  --accent: 280 56% 25%;
  --btn-text: 0 0% 100%;

  --font: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  --border-radius: .25em;

  --font-scale: 1.25;
  --font-r: 16px;
  --font-h6: calc(var(--font-r) * var(--font-scale));
  --font-h5: calc(var(--font-h6) * var(--font-scale));
  --font-h4: calc(var(--font-h5) * var(--font-scale));
  --font-h3: calc(var(--font-h4) * var(--font-scale));
  --font-h2: calc(var(--font-h3) * var(--font-scale));
  --font-h1: calc(var(--font-h2) * var(--font-scale));
  --font-s: calc(var(--font-r) / var(--font-scale));
  --font-xs: calc(var(--font-s) / var(--font-scale));
}

@media (prefers-color-scheme: dark) {
  :root {
    --text: 0 0% 100%;
    --background: 0 0% 5%;
    --primary: 0 0% 100%;
    --secondary: 0 0% 60%;
    --accent: 280 56% 75%;
    --btn-text: 0 0% 0%;
  }
}


html {
  background-color: hsl(var(--background));
  color: hsl(var(--text));
  font-family: var(--font);
  font-size: var(--font-r);
}

main {
  padding: 1em;
  box-sizing: border-box;
}

main.center {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
}

main.transform {
  transform: translateY(calc(var(--font-h1) * -1));
}

.btn {
  font-size: var(--font-r);
  font-weight: 400;
  font-family: var(--font);

  background-color: hsl(var(--accent));
  color: hsl(var(--btn-text));
  text-decoration: none;

  padding: 0.5em 1em;
  border-radius: var(--border-radius);
  outline: none;
  border: none;
  cursor: pointer;

  box-sizing: border-box;
}

.btn:hover, .btn:focus-visible {
  background-color: hsl(var(--accent) / .85);
}

.btn:focus-visible {
  outline: 2px solid hsl(var(--accent) / .85);
  outline-offset: 2px;
}

.btn--primary {
  background-color: hsl(var(--primary));
}

.btn--primary:hover, .btn--primary:focus-visible {
  background-color: hsl(var(--primary) / .85);
}

.btn--primary:focus-visible {
  outline: 2px solid hsl(var(--primary) / .85);
  outline-offset: 2px;
}

.btn--secondary {
  background-color: hsl(var(--secondary));
}

.btn--secondary:hover, .btn--secondary:focus-visible {
  background-color: hsl(var(--secondary) / .85);
}

.btn--secondary:focus-visible {
  outline: 2px solid hsl(var(--secondary) / .85);
  outline-offset: 2px;
}

.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1em;
  max-width: 32em;
}

.form__items {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 1em;
  align-items: center;
}

.form__label {
  grid-column: 1;
}

.form__input {
  width: 100%;
  min-height: 2em;
  box-sizing: border-box;

  display: flex;
  gap: 1em;
  align-items: center;

  outline: none;
  border: none;

  border-radius: var(--border-radius);

  background-color: hsl(var(--secondary) / .15);
  color: hsl(var(--text));
}

.form__input-wrapper {
  grid-column: 2;
  box-sizing: border-box;
}

.form__checkbox-wrapper {
  grid-column: span 2;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: .5em;
}

.form__checkbox {
  margin: 0;
  width: 1rem;
  height: 1rem;
}

.link {
  color: hsl(var(--accent));
}

.link:hover, .link:focus-visible {
  color: hsl(var(--accent) / .85);
}

.link:focus-visible {
  outline: 2px solid hsl(var(--accent) / .85);
  outline-offset: 2px;
  border-radius: .25em;
}

.list {
  list-style: none;
}

.list__item {
  margin: .25em 0;
}

.title {
  margin-bottom: .5em;
  font-size: var(--font-h1);
}

.title--s1 {
  font-size: var(--font-h1);
}
.title--s2 {
  font-size: var(--font-h2);
}
.title--s3 {
  font-size: var(--font-h3);
}
.title--s4 {
  font-size: var(--font-h4);
}
.title--s5 {
  font-size: var(--font-h5);
}
.title--s6 {
  font-size: var(--font-h6);
}

.file-embed {
  display: block;
  margin: 1em auto 0 auto;
  max-width: 100%;
  max-height: 100%;
}

.file-wrapper {
  max-height: 100%;
  box-sizing: border-box;
  text-align: center;
}

.file-wrapper .title {
  word-break: break-all
}

.file-embed .text-block {
  background-color: hsl(var(--secondary) / .15);
  padding: 1em;
  border-radius: 1em;
  max-width: 85ch;

  text-align: left;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  white-space: pre-line;
  word-wrap: break-word;
}

@media (max-width: 768px) {
  :root {
    --font-r: 14px;
    --font-scale: 1.15;
  }
  .form__items {
    grid-template-columns: 1fr;
  }
  .form__label {
    grid-column: 1;
  }

  .form__input-wrapper {
    grid-column: 1;
  }

  .form__checkbox-wrapper {
    grid-column: 1;
  }

  main.center {
    min-height: unset;
    transform: none
  }
}