<% mainClass = "class=center" %>
<% page = "Invite" %>

<h1 class="title">Create Invite Code</h1>

<h2 class="title title--s4">Unused Invite Codes</h2>

<ul class="list">
  <li class="list__item" style="display: none;"><p class="mono-select-all"></p></li>
  <% if (invites && invites.length > 0) { %>
    <% invites.forEach(invite => { %>
      <li class="list__item"><p class="mono-select-all"><%= invite.invite %></p></li>
    <% }) %>
  <% } else { %>
    <li class="list__item">
      <p>No invite codes</p>
    </li>
  <% } %>
</ul>


<form action="/invite" method="POST" class="form">
  <input type="hidden" name="_csrf" value="<%= csrfToken %>">
  <% if(errorMessage) { %>
    <p class="error"><%= errorMessage %></p>
  <% } %>
  <button class="btn" type="submit">Create</button>
</form>