<% mainClass = "class=center" %>

<h1 class="title">Create Invite Code</h1>

<h2 class="title title--s4">Unused Invite Codes</h2>

<ul class="list">
  <% if (invites && invites.length > 0) { %>
    <% invites.forEach(invite => { %>
      <li class="list__item">
        <p class="invite-code"><%= invite.invite %></p>
      </li>
    <% }) %>
  <% } else { %>
    <li class="list__item">
      <p>No invite codes</p>
    </li>
  <% } %>
</ul>


<form action="/invite" method="POST" class="form">
  <input type="hidden" name="_csrf" value="<%= csrfToken %>">
  <button class="btn" type="submit">Create</button>
</form>