<% mainClass = "class=center" %>

<h1 class="title">Register</h1>

<form action="/register" method="POST" class="form">
  <div class="form__items">
    <label class="form__label" for="downloadName">Username:</label>
    <div class="form__input-wrapper">
      <input class="form__input" autocomplete="off" type="text" id="userName" name="userName" maxlength="<%= UserNameLen %>" required>
    </div>

    <label class="form__label" for="displayName">password:</label>
    <div class="form__input-wrapper">
      <input class="form__input" autocomplete="off" type="password" id="Password" name="Password" maxlength="<%= PasswordLen %>" required>
    </div>

    <label class="form__label" for="displayName">Invite code:</label>
    <div class="form__input-wrapper">
      <input class="form__input" autocomplete="off" type="text" id="InviteCode" name="InviteCode" maxlength="<%= InviteCodeLen %>" required>
    </div>
  </div>

  <input type="hidden" name="_csrf" value="<%= csrfToken %>">
  <button class="btn" type="submit">Register</button>
</form>