<% mainClass = "class=center" %>
<% page = "Shortener" %>

<h1 class="title">URL Shortener</h1>

<form action="/shortener" method="POST" class="form">
  <div class="form__items">
    <label class="form__label" for="url">URL:</label>
    <div id="urlLenWrapper">
      <input class="form__input" type="url" id="url" name="url" autocomplete="off" required>
      <span id="urlLen"></span>
    </div>

    <div class="form__checkbox-wrapper">
      <label class="form__label" for="useCustomUrl">Use Custom URL</label>
      <input class="form__checkbox" type="checkbox" id="useCustomUrl" name="useCustomUrl">
    </div>
    <label class="form__label" for="customUrl">Custom URL:</label>
    <input class="form__input" type="text" id="customUrl" name="customUrl" autocomplete="off">

    <div class="form__checkbox-wrapper">
      <label class="form__label" for="useVisits">Remove after N visits</label>
      <input class="form__checkbox" type="checkbox" id="useVisits" name="useVisits">
    </div>
    <label class="form__label" for="visits">Custom URL:</label>
    <div class="form__input-number-wrapper">
      <input class="form__input" type="number" id="visits" name="visits" autocomplete="off">
      <div id="numberUp" class="form__input-number form__input-number-up"></div>
      <div id="numberDown" class="form__input-number form__input-number-down"></div>
    </div>
  </div>

  <input type="hidden" name="_csrf" value="<%= csrfToken %>">
  <% if(errorMessage) { %>
    <p class="error"><%= errorMessage %></p>
  <% } %>
  <button class="btn" type="submit">Shorten</button>
</form>

<style>
  #urlLenWrapper {
    position: relative;
  }
  #urlLen {
    color: hsl(var(--error));
    position: absolute;
    left: -.5em;
    top: 0;
    bottom: 0;
    transform: translateX(-100%);
  }
  @media (max-width: 768px) {
    #urlLen {
      right: 0;
      left: unset;
      transform: translateY(calc(-100% - .5em));
    }
  }
</style>
<script>
  const useCustomUrl = document.getElementById("useCustomUrl");
  const customUrl = document.getElementById("customUrl");
  const useVisits = document.getElementById("useVisits");
  const visits = document.getElementById("visits");
  const url = document.getElementById("url");
  const urlLen = document.getElementById("urlLen");

  customUrl.disabled = !useCustomUrl.checked;
  visits.disabled = !useVisits.checked;
  visits.value = 1;
  customUrl.value = "/";

  useCustomUrl.addEventListener("change", () => {
    customUrl.disabled = !useCustomUrl.checked;
  });

  useVisits.addEventListener("change", () => {
    visits.disabled = !useVisits.checked;
  });

  customUrl.addEventListener("input", () => {
    customUrl.value = customUrl.value.replace(/[^a-zA-Z0-9-_]/g, "");
    customUrl.value = customUrl.value.substring(0, "<%= customUrlLen %>");
    customUrl.value = "/" + customUrl.value;
  });

  url.addEventListener("input", () => {
    const len = "<%= urlLen %>" - url.value.length;
    if (len < 128) {
      urlLen.textContent = len;
    } else {
      urlLen.textContent = "";
    }
  });

  const numberUp = document.getElementById("numberUp");
  const numberDown = document.getElementById("numberDown");

  numberUp.addEventListener("click", () => {
    visits.stepUp();
    if (visits.value <= 1) {
      visits.value = 1;
    }
  });

  numberDown.addEventListener("click", () => {
    if (visits.value > 1) {
      visits.stepDown();
    }
    if (visits.value <= 1) {
      visits.value = 1;
    }
  });

  visits.addEventListener("input", () => {
    if (visits.value <= 1 && visits.value != "") {
      visits.value = 1;
    }
  });

  visits.addEventListener("focusout", () => {
    if (visits.value <= 1) {
      visits.value = 1;
    }
  });
</script>