<% mainClass = "class=center" %>

<h1 class="title">Upload</h1>

<form action="/upload" method="POST" enctype="multipart/form-data" class="form">
  <div class="form__items">
    <label class="form__label" for="file">Select a file:</label>
    <div class="form__input">
      <label class="btn btn--primary" for="file" tabIndex="0" role="button" aria-label="Browse files">Browse</label>
      <span id="fileName">No file selected.</span>
      <input style="display: none;" type="file" id="file" name="file" accept="*" required>
    </div>

    <label class="form__label" for="downloadName">Download Name:</label>
    <div class="form__input-wrapper">
      <input class="form__input" placeholder="cat.png" type="text" id="downloadName" name="downloadName" maxlength="<%= DownloadLen %>" required>
    </div>

    <label class="form__label" for="displayName">Display Name:</label>
    <div class="form__input-wrapper">
      <input class="form__input" placeholder="Cute cat" type="text" id="displayName" name="displayName" maxlength="<%= DisplayLen %>" required>
    </div>

    <div class="form__checkbox-wrapper">
      <label class="form__label" for="index">Include in index?</label>
        <input class="form__checkbox" type="checkbox" id="index" name="index">
    </div>
  </div>

  <button class="btn" type="submit">Upload</button>
</form>

<script>
  const file = document.getElementById("file");
  const btn = document.querySelector(".btn");

  file.addEventListener("change", function() {
    var fileName = this.files[0].name;
    document.getElementById("fileName").textContent = fileName ?? "No file selected.";
    document.getElementById("downloadName").value = fileName;
  });

  btn.addEventListener("click", () => {
    file.click();
  });
  btn.addEventListener("keydown", (e) => {
    if (e.key === "Enter") {
      file.click();
    }
  });
</script>