<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta content="noindex, nofollow" name="robots">
  <link rel="stylesheet" href="/style.css">
  <title></title>
</head>
<body>
  <nav class="navbar">
    <a class="navbar__brand navbar__link" href="/">NexTool</a>
    <menu class="navbar__menu">
      <% if (user) { %>
        <li class="navbar__item"><a class="navbar__link" href="/dashboard">Dashboard</a></li>
        <li class="navbar__item"><a class="navbar__link" href="/logout">Sign out</a></li>
      <% } else { %>
        <li class="navbar__item"><a class="navbar__link" href="/login">Sign in</a></li>
        <li class="navbar__item"><a class="navbar__link" href="/register">Sign up</a></li>
      <% } %>
    </menu>
  </nav>
  <main <%= mainClass %>>
    <%- body %>
  </main>
  <script>
    let reload = false;

    if (reload) {
      window.setTimeout( function() {
        window.location.reload();
      }, 1500);
    }
  </script>
</body>
</html>
