<nav class="navbar">
  <div class="navbar__top">
    <a class="navbar__brand navbar__link" href="/">NexTool</a>
    <div id="hamburger" class="navbar__hamburger" tabindex="0" role="button" aria-label="Toggle navbar menu">
      <span class="navbar__hamburger__line"></span>
      <span class="navbar__hamburger__line"></span>
      <span class="navbar__hamburger__line"></span>
    </div>
  </div>
  <menu class="navbar__menu">
    <% if (user) { %>
      <% if (isAdmin) { %>
        <li class="navbar__item"><a class="navbar__link" href="/admin">Admin</a></li>
      <% } %>
      <li class="navbar__item"><a class="navbar__link" href="/shortener">Shortener</a></li>
      <li class="navbar__item"><a class="navbar__link" href="/upload">Upload</a></li>
      <li class="navbar__item"><a class="navbar__link" href="/dashboard">Dashboard</a></li>
      <li class="navbar__item"><a class="navbar__link" href="/invite">Invite</a></li>
      <li class="navbar__item"><a class="navbar__link" href="/logout">Sign out</a></li>
    <% } else { %>
      <li class="navbar__item"><a class="navbar__link" href="/login">Sign in</a></li>
      <li class="navbar__item"><a class="navbar__link" href="/register">Sign up</a></li>
    <% } %>
  </menu>
</nav>

<script>
  const hamburger = document.getElementById("hamburger");
  const menu = document.querySelector(".navbar");

  hamburger.addEventListener("click", () => {
    menu.classList.toggle("navbar--open");
  });
</script>