<nav class="navbar">
  <a class="navbar__brand navbar__link" href="/">NexTool</a>
  <menu class="navbar__menu">
    <% if (user) { %>
      <li class="navbar__item"><a class="navbar__link" href="/upload">Upload</a></li>
      <li class="navbar__item"><a class="navbar__link" href="/dashboard">Dashboard</a></li>
      <li class="navbar__item"><a class="navbar__link" href="/invite">Invite</a></li>
      <li class="navbar__item"><a class="navbar__link" href="/logout">Sign out</a></li>
    <% } else { %>
      <li class="navbar__item"><a class="navbar__link" href="/login">Sign in</a></li>
      <li class="navbar__item"><a class="navbar__link" href="/register">Sign up</a></li>
    <% } %>
  </menu>
</nav>